.supermarket-compareList-panel-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    right: spacing("third");
    top: 50%;
    transform: translateY(-50%);
    height: 0;
    z-index: zIndex("low");
    animation-name: supermarket-compareList-show;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-duration: 300ms;
    animation-fill-mode: forwards;

    .button {
        margin: 0;

        .supermarket-compareList-text {
            margin: auto;
            transform: translate(-18%) rotate(-90deg);
            color: stencilColor("color-black");
        }

        &.button--close {
            background-color: stencilColor("color-white");
            box-shadow: 0 3px 10px rgba(stencilColor("color-black"), 0.15);
            border: container("border");
            border-right: 0;
            border-radius: unset;
            border-top-left-radius: $button-radius;
            border-bottom-left-radius: $button-radius;

            &:focus-visible {
                z-index: 2;
            }
        }
    }

    .button--close,
    .button--open {
        position: absolute;
        top: 0;
        left: -45px;
        width: 46px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        border: 0;
        font-size: fontSize("base");
        flex-direction: column;
        z-index: 1;

        &:hover {
            .supermarket-compareList-icon {
                > svg {
                    fill: stencilColor("color-textLink");
                }
            }

            .supermarket-compareList-text {
                color: stencilColor("color-textLink");
            }
        }
    }

    .button--open {
        display: none;
    }

    &.is-empty {
        animation-name: supermarket-compareList-hide;
        animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
    }

    &.is-closed {
        animation-name: supermarket-compareList-hide;

        &:has(.supermarket-compareList-item:nth-child(5)) {
            .supermarket-compareList-panel-body { 
                .supermarket-compareList-actions {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        .button--close {
            display: none;
        }

        .button--open {
            display: flex;
            bottom: 0;
            top: auto;
            border: container("border");
            background-color: container("fill");
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        }

        .supermarket-compareList-panel-body {
            height: 0;
            overflow: hidden;
            width: 100%;
            border: 0;
            padding: 0;
        }
    }
}

@keyframes supermarket-compareList-show {
    from {
        transform: translateX(100%);
    }

    to {
        transform: none;
    }
}
@keyframes supermarket-compareList-hide {
    from {
        transform: none;
    }
    
    to {
        transform: translateX(100%);
    }
}

.supermarket-compareList-panel {
    position: relative;
    width: auto;
    max-width: 100%;
    transform: translateY(50%);

    .supermarket-compareList-icon {
        @include square(25px);
        border-radius: 50%;
        background: rgba(stencilColor("color-greyLighter"), 0.5);
        margin: (spacing("third") * 1.25) auto 0 auto;

        > svg {
            fill: stencilColor("color-black");
            width: 10px;
            height: 100%;
        }
    }
}

.supermarket-compareList-panel-body {
    width: auto;
    background-color: container("fill");
    padding: spacing("half") spacing("half") spacing("half") spacing("quarter");
    border: container("border");
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: $button-radius;
    border-top-left-radius: unset;
    max-height: 80vh;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 3px;
        background-color: stencilColor("color-white");
        display: block;
        transition: all 0.3s ease-in;
    }

    &:hover {
        &::-webkit-scrollbar {
            display: contents;
        }
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $button-radius;
        -webkit-box-shadow: inset 0 0 10px rgba(stencilColor("color-black"), 0.3);
        background-color: stencilColor("color-greyLight");
    }

    &::after {
        content: "";
        position: fixed;
        top: 2px;
        bottom: 2px;
        left: 0;
        width: 14px;
        background-color: stencilColor("color-white");
        z-index: 1;
        border-bottom-left-radius: $button-radius;
    }

    &:has(.supermarket-compareList-item:nth-child(5)) {
        .supermarket-compareList-actions {
            position: sticky;
            padding-top: spacing("half");
            bottom: 0;

            &::before {
                display: block;
                content: "";
                position: fixed;
                background-color: stencilColor("color-white");
                position: fixed;
                right: 1px;
                left: 0;
                height: 120px;
                bottom: -5px;
                border-bottom-left-radius: $button-radius;
                border-bottom-right-radius: $button-radius;
                border-top: 1px solid rgba(stencilColor("color-greyLight"), 0.3);
            }
        }
    }
}

.supermarket-compareList {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
    gap: spacing("base");
    margin: spacing("half") 0 spacing("single");
}

.supermarket-compareList-item {
    @include square(120px);
    position: relative;
    margin: 0 spacing("quarter");
    flex: 0 0 auto;
    z-index: 2;

    .quickview {
        &:focus-visible {
            border-radius: $button-radius;
        }
    }

    .supermarket-compareList-img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: $button-radius;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

}

.supermarket-compareList-actions {
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: 3;

    @include breakpoint("medium") {
        margin: 0 spacing("third");
    }

    .button + .button {
        margin-top: spacing("quarter");
    }
}

.supermarket-compareList-remove {
    @include square(24px);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    top: -14px;
    right: -8px;
    border-radius: 50%;
    background-color: rgba(stencilColor("color-greyLighter"), 0.5);
    padding: unset;

    &:hover {
        > svg {
            fill: stencilColor("color-textLink");
        }
    }

    > svg {
        fill: stencilColor("color-greyMedium");
        overflow: unset;
        @include square(13px); }

    @media (max-width: screenSize("medium") - 1px) {
        width: 25px;
        height: 25px;
    }
}
