{{#or banners.top_metadata theme_settings.instantload}}
<div class="banners" data-banner-location="top">
    {{#if settings.data_tag_enabled}}
        {{#each banners.top_metadata}}
            <div class="banner">
                {{{this.content}}}
            </div>
        {{/each}}
    {{else}}
        {{#each banners.top_metadata}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    {{/if}}
</div>
{{/or}}
<header class="header" role="banner" {{#if theme_settings.header_sticky}} data-sticky-header{{/if}}>

    <div class="beautify__topHeader">
        <div class="container">
            <div class="_announce">
                {{{region name="header_top_announcement--global"}}}
            </div>
            <div class="_user">
                {{#if settings.phone_number}}
                    {{#if theme_settings.navUser-phone '===' 'top'}}
                        <div class="_phone">
                            <a href="tel:{{settings.phone_number}}" title="{{lang 'header.call_us' phone_number=settings.phone_number}}">
                                <svg class="icon"><use xlink:href="#icon-phone2" /></svg>
                                <span class="_label">{{settings.phone_number}}</span>
                            </a>
                        </div>
                    {{/if}}
                {{/if}}
                {{#or customer (unless theme_settings.restrict_to_login)}}
                {{#if currency_selector.currencies.length '>' 1}}
                    {{#if theme_settings.navUser-currency '===' 'top'}}
                        <div class="_currency">
                            <a href="#" class="navUser-action" data-dropdown="topHeader-currency" aria-controls="topHeader-currency" aria-expanded="false">
                                {{{lang 'common.currency' code=currency_selector.active_currency_code}}} <svg class="icon"><use xlink:href="#icon-caret-down"></use></svg>
                            </a>
                            <div class="dropdown-menu" id="topHeader-currency" data-dropdown-content aria-hidden="true" tabindex="-1">
                                <ul>
                                    {{#each currency_selector.currencies}}
                                    <li>
                                        <a href="{{{switch_url}}}">
                                            {{#if is_active}}
                                                <strong>{{name}} ({{code}})</strong>
                                            {{else}}
                                                {{name}} ({{code}})
                                            {{/if}}
                                        </a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
                {{/or}}
            </div>
        </div>
    </div>
    <div class="beautify__mainHeader{{#if settings.store_logo.image}} _hasImg{{/if}} _{{theme_settings.logo_position}}">
        <div class="container">
            <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
                <span class="mobileMenu-toggleIcon"><span class="_icon"></span></span>
                <span class="_label sr-only">{{lang 'common.menu'}}</span>
            </a>

            {{#if theme_settings.logo_position '===' 'left'}}
                {{> components/common/header/logo}}
                {{> components/common/header/search}}
                {{> components/common/header/navuser-left}}
            {{else if theme_settings.logo_position '===' 'right'}}
                {{> components/common/header/navuser-right}}
                {{> components/common/header/search}}
                {{> components/common/header/logo}}
            {{else}}
                {{> components/common/header/search}}
                {{> components/common/header/logo}}
                {{> components/common/header/navuser-left}}
            {{/if}}
            

        </div>
    </div>

    <div class="navPages-container" id="menu" data-menu>
        <div class="container" id="bf-fix-menu-mobile">
            {{> components/beautify/navigation-menu}}
        </div>
    </div>

</header>

<div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
    <div class="container">
        <div class="quickSearchSuggestions">
            <div class="_popular" data-papathemes-search-popular="{{theme_settings.quickSearch_popular}}">
                <div class="_heading">{{lang 'search.quick_search.popular_search'}}</div>
                <button type="button" class="button button--small button--link is-open" data-collapsible="#quickSearch-popular-list" aria-expanded="true">
                    <span class="on">{{lang 'common.hide'}}<svg class="icon"><use xlink:href="#icon-eye-open"></use></svg></span>
                    <span class="off">{{lang 'common.show'}}<svg class="icon"><use xlink:href="#icon-eye-close"></use></svg></span>
                </button>
                <ul id="quickSearch-popular-list" class="is-open" aria-hidden="false"></ul>
            </div>
            <div class="_recent" data-papathemes-search-history style="display: none;">
                <div class="_heading">{{lang 'search.quick_search.search_history'}}</div>
                <button type="button" class="button button--small button--link is-open" data-papathemes-delete-search-history>
                    <span class="on">{{lang 'common.delete'}}<svg class="icon"><use xlink:href="#icon-close"></use></svg></span>
                </button>
                <ul id="quickSearch-recently-list"></ul>
            </div>
        </div>
        <section class="quickSearchResults" data-bind="html: results"></section>
    </div>
</div>
<div class="papathemes-overlay"></div>

{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}