<ul class="navUser-section">
    <li class="navUser-item navUser-item--cart">
        <a
            class="navUser-action navUser-action--cart"
            data-cart-preview
            data-toggle="cart-preview-dropdown"
            href="{{urls.cart}}"
            title="{{lang 'common.cart'}}">
            <svg class="icon"><use xlink:href="#icon-cart2" /></svg>
            <span class="_label">{{lang 'common.cart'}}</span> <span class="countPill cart-quantity"></span>
        </a>
        <div class="previewCart-overlay"></div>
        <div class="dropdown-menu" id="cart-preview-dropdown" aria-hidden="true"></div>
    </li>

    <li class="navUser-item navUser-item--recentlyViewed">
        <a class="navUser-action navUser-action--recentlyViewed" href="#recently-viewed" data-dropdown="recently-viewed-dropdown" data-options="align:right" title="{{lang 'account.nav.recently_viewed'}}" style="display:none">
            <svg class="icon"><use xlink:href="#icon-recent-list" /></svg>
            <span class="_label">{{{lang 'account.nav.recently_viewed'}}}</span>
        </a>
        <div class="dropdown-menu" id="recently-viewed-dropdown" data-dropdown-content aria-hidden="true"></div>
    </li>

    <li class="navUser-item navUser-item--wishlist">
        <a class="navUser-action navUser-action--wishlist" href="{{urls.account.wishlists.all}}" title="{{lang 'common.wishlist'}}">
            <svg class="icon"><use xlink:href="#icon-heart2" /></svg>
            <span class="_label">{{lang 'account.nav.wishlists'}}</span>
        </a>
    </li>

    <li class="navUser-item navUser-item--account">
        <a class="navUser-action navUser-action--account" href="{{#if customer}}{{urls.account.index}}{{else}}{{urls.auth.login}}{{/if}}" title="{{lang 'common.account'}}">
            <svg class="icon"><use xlink:href="#icon-user" /></svg>
            <span class="_label">{{lang 'common.account'}}</span>
        </a>
    </li>

    {{#if settings.gift_certificates_enabled}}
        <li class="navUser-item navUser-item--giftCert">
            <a class="navUser-action navUser-action--giftCert" href="{{urls.gift_certificate.purchase}}" title="{{lang 'common.gift_cert'}}">
                <svg class="icon"><use xlink:href="#icon-gift" /></svg>
                <span class="_label">{{lang 'common.gift_cert'}}</span>
            </a>
        </li>
    {{/if}}

    <li class="navUser-item navUser-item--compare">
        <a class="navUser-action navUser-action--compare" href="{{urls.compare}}" title="{{lang 'common.compare'}}" data-compare-nav>
            <svg class="icon"><use xlink:href="#icon-compare" /></svg>
            <span class="_label">{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></span>
            
        </a>
    </li>

    {{#if customer.store_credit.value '>' 0}}
        <li class="navUser-item">
            <a class="navUser-action navUser-action--storeCredit"
                data-dropdown="storeCredit-dropdown"
                data-options="align:bottom"
                href="{{urls.cart}}"
                title="{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}">
                <svg class="icon"><use xlink:href="#icon-credit" /></svg>
                <span class="_label">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
            </a>
            <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
            </div>
        </li>
    {{/if}}

    {{#if settings.phone_number}}
        {{#if theme_settings.navUser-phone '===' 'show'}}
            <li class="navUser-item navUser-item--phone">
                <a class="navUser-action" href="tel:{{settings.phone_number}}" title="{{lang 'header.call_us' phone_number=settings.phone_number}}">
                    <svg class="icon"><use xlink:href="#icon-phone2" /></svg>
                    <span class="_label">{{settings.phone_number}}</span>
                </a>
            </li>
        {{/if}}
        <li class="navUser-item navUser-item--phone u-hideDesktop">
            <a class="navUser-action" href="tel:{{settings.phone_number}}" title="{{lang 'header.call_us' phone_number=settings.phone_number}}">
                <svg class="icon"><use xlink:href="#icon-phone2" /></svg>
                <span class="_label">{{{lang 'header.call_us2' phone_number=settings.phone_number}}}</span>
            </a>
        </li>
    {{/if}}

    {{#if theme_settings.navUser-currency '===' 'show'}}
        <li class="navUser-item navUser-item--currency">
            <a href="#" data-dropdown="topHeader-currency" aria-controls="topHeader-currency" aria-expanded="false">
                {{{lang 'common.currency' code=currency_selector.active_currency_code}}} <svg class="icon"><use xlink:href="#icon-caret-down"></use></svg>
            </a>
            <div class="dropdown-menu" id="topHeader-currency" data-dropdown-content aria-hidden="true" tabindex="-1">
                <ul>
                    {{#each currency_selector.currencies}}
                    <li>
                        <a href="{{{switch_url}}}">
                            {{#if is_active}}
                                <strong>{{name}} ({{code}})</strong>
                            {{else}}
                                {{name}} ({{code}})
                            {{/if}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </li>
    {{/if}}

    <li class="navUser-item navUser-item--region">
        {{{region name="header_navuser--global"}}}
    </li>
</ul>