
.cart-status {
    margin-bottom: spacing("half");

    .alertBox {
        background-color: transparent;
        color: inherit;
        padding: 0;
        margin: spacing("quarter") 0 0;
        font-size: inherit;

        .icon {
            @include square(20px);
        }
    }
    @include breakpoint("medium") {
        margin-bottom: spacing("single") + spacing("half");
        font-size: fontSize("large");
    }
}

.cart-item-brand {
    color: $color-primary;
    font-weight: $header-font-weight;
}

.cart-item {
    padding-left: 0;
}

.cart-item-figure {
    width: get-width(stencilString("productthumb_size"));
}

.cart-item-image-container {
    display: block;
    position: relative;
    width: 100%;
    @include lazy-loaded-padding("productthumb_size");
}

.cart-item-image {
    width: 100%;
    object-fit: contain;
    font-family: "object-fit: contain";
}

.cart-item-name {
    font-size: fontSize("base");
    font-weight: $fontWeight-bold;

    a {
        color: inherit;

        &:hover,
        &:focus {
            color: $color-textLink;
        }
    }
}

.cart-item-option-title {
    font-weight: $header-font-weight;
}

.cart-remove {
    text-decoration: none;
    font-size: fontSize("smallest");
    text-align: center;
    margin: spacing("eighth");
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: unset;

    .fa {
        display: block;
        font-size: 20px;
    }
}

.beautify__cart {
    margin-bottom: spacing("half");
    font-size: fontSize("smaller");
    margin-top: spacing("single");

    .cart-item-title {
        a:focus-visible {
            margin-left: spacing("eighth");
        }
    }

    .beautify__productView-4icons {
        border-top: container("border");
        padding-top: spacing("quarter");
    }

    .cart-totalsWrapper {
        padding-left: spacing("single");
        padding-right: spacing("single");
        border-radius: $container-border-radius;
        border: 5px solid rgba(stencilColor("color-primaryLight"), 0.5);
        padding-top: spacing("base");
    }

    .estimator-form--default {
        margin-top: spacing("half");

        .estimator-form-input {
            margin-bottom: 0;
        }
    }

    .cart-payment {
        .cart-payment-heading {
            margin-bottom: spacing("half");
            margin-top: 0;
        }

        .footer-payment-icons {
            display: flex;
            gap: 2px;
            justify-content: center;
            flex-wrap: wrap;

            .footer-payment-icon {
                margin: 0;
            }
        }
    }

    .cart-total-value {
        font-weight: bold;
    }

    @media (max-width: (screenSize("medium") - 1px)) {
        .cart-total--shippingEstimator {
            flex-direction: column;
        }

        .cart-form {
            margin-bottom: spacing("third");
        }

        .shipping-estimate-submit {
            width: 60%;
        }

        .shipping-estimator {
            .shipping-quotes {
                float: right;
                width: 60%;
                padding-top: 0;
            }
        }
    }

    @include breakpoint("large") {
        .shipping-estimate-submit {
            width: 60%;
        }

        .shipping-estimator {
            .shipping-quotes {
                float: right;
                width: 100%;
            }
        }
    }

    @include breakpoint("medium") {
        @media (max-width: (screenSize("large") - 1px)) {
            //a
            .cart-gift-certificate-form,
            .coupon-form {
                display: flex;
                flex-direction: column;
                
                .form-input {
                    width: 100%;
                    margin-bottom: spacing("half");
                }
    
                .button {
                    width: 100%;
                    margin: 0;
                }
            }

            .estimator-form-label {
                display: none;
            }
    
            .shipping-quotes {
                .estimator-form-label {
                    display: block;
                }
            }
    
            .select-shipping-quote,
            .estimator-form-input,
            .shipping-estimate-submit {
                width: 100%;
            }
            
            .cart-form {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: (screenSize("small") - 1px)) {
        .estimator-form-label {
            display: none;
        }

        .shipping-quotes {
            .estimator-form-label {
                display: block;
            }
        }

        .select-shipping-quote,
        .estimator-form-input,
        .shipping-estimate-submit {
            width: 100%;
        }

        .shipping-estimator .shipping-quotes {
            width: 100%;
        }

        .cart-gift-certificate-form,
        .coupon-form {
            display: flex;
            flex-direction: column;
            
            .form-input {
                width: 100%;
                margin-bottom: spacing("half");
            }

            .button {
                width: 100%;
                margin: 0 0 spacing("third");
            }
        }

        .cart-form {
            margin-bottom: 0;
        }
    }
}

.cart-totalsWrapper {
    padding: spacing("half") spacing("half") spacing("single");
    border-radius: $global-radius;
    margin-bottom: spacing("single");

    .select-shipping-quote,
    .shipping-estimate-submit {
        margin-bottom: 0;

        @media (max-width: (screenSize("medium") - 1px)) {
            margin-bottom: spacing("third");
        }
    }
}

.cart-totals {
    font-size: fontSize("base");
    margin: 0;
}

.cart-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: spacing("third") 0;
    border-bottom: container("border");

    &::before,
    &::after {
        display: none;
    }
}

.cart-total--grandTotal {
    padding: spacing("half") 0;
    display: flex;
    line-height: 1.15;
    border: 0;
    align-items: center;

    .cart-total-label,
    .cart-total-value {
        float: none;
        display: block;
        padding: 0;
        text-align: inherit;
    }

    .cart-total-label {
        font-size: fontSize("base");
        text-transform: uppercase;
        
    }

    .cart-total-value {
        font-size: fontSize("larger");
    }
}

.cart-total-label {
    width: auto;
    padding: 0 spacing("half") 0 0;
    text-align: left;

    &._shipping-estimate,
    &._coupon-code-input,
    &._gift-certificate-input {
        width: 100%;
        padding-right: 0;
    }
    
}

.cart-total-value {
    width: auto;
    padding: 0 0 0 spacing("half");
    text-align: right;
    font-weight: inherit;
    color: stencilColor("color-price");
}

.cart-total-grandTotal {
    font-size: fontSize("large");
    font-weight: fontWeight("bold");
}

.cart-form,
.estimator-form {
    width: 100%;
    margin: spacing("half") 0 0;
}

.estimator-form dl {
    margin: 0;
}

.cart-actions-wrapper {
    display: block;
    align-items: center;
    padding-top: spacing("single");
    margin-bottom: spacing("half");
}

.cart-actions {
    width: auto;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;

    .button {
        padding-left: spacing("quarter");
        padding-right: spacing("quarter");
    }
}

.cart-payment {
    text-align: center;

    .cart-payment-heading {
        font-size: spacing("base");
        color: stencilColor("card-title-color");
        font-weight: $fontWeight-normal;
    }
}

.cart-additionalCheckoutButtons,
div.previewCart-additionalCheckoutButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 (-(spacing("quarter")));

    &:not(:has(*)) {
        padding: 0;
    }

    ._heading {
        flex: 1 0 100%;
        width: 100%;
        margin-bottom: spacing("half");
        text-align: center;
        font-size: fontSize("base");
        color: stencilColor("color-primary");
    }

    ._item {
        flex: 1 0 50%;
        margin-bottom: spacing("half");
        text-align: center;

        .paypalCommerce-buttons-container {
            width: 100%;
            display: block;
        }

        .paypalCommerce-smart-buttons {
            margin: 0;
            display: block;

            .paypal-buttons {
                min-width: auto !important;
                max-width: 100% !important;
                width: 100% !important;
                display: block !important;
            }
        }

        .GooglePayContainer {
            > div {
                display: block !important;
            }
        }

        button {
            margin: 0;
            width: 100% !important;
        }

        .CheckoutButton {
            margin: 0;
        }

        .FloatRight {
            div {
                float: none;
            }

            .or-use-label {
                display: none;
            }

            .paypal-smart-buttons {
                margin: 0;
                width: 100% !important;
                max-width: none !important;

                > div {
                    margin-bottom: 0;
                }
            }
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .FloatRight div {
        float: none;
        width: 100%;
        max-width: 550px;
        margin: 0 auto;

        .paypal-buttons-layout-vertical {
            width: 100% !important;
        }
    }
}

.cart-additionalCheckoutButtons {
    margin: 0;
    margin-bottom: spacing("half");

    ._item {
        flex: 1 0 100%;
        z-index: 1;
    }

    ._item:not(:first-child) {
        margin-bottom: 0;
    }
}

.GooglePayCheckout button.gpay-button {
    width: 100% !important;
}

.shipping-estimator {
    .shipping-quotes {
        font-size: fontSize("smaller");
        text-align: left;
        padding-top: spacing("half");

        ul {
            margin: 0;
        }

        .estimator-form--default {
            font-size: fontSize("base");
        }

        .button {
            margin-top: spacing("half");
        }
    }
}

@media (max-width: screenSize("medium") - 1px) {
    .cart-item {
        @include clearfix;
    }

    .cart-item-figure {
        float: left;
        margin-bottom: 0;
    }

    .cart-item-title {
        display: block;
        height: auto;
        padding-left: 0;
        margin-left: to-number(get-width(stencilString("productthumb_size"))) + 20px;
    }

    .cart-item-total {
        font-size: fontSize("base");
        text-align: left;
        padding-left: 20px;
        column-gap: spacing("half");
    }

    .cart-item-info {
        display: none;

        .cart-item-label {
            display: none;
        }

        .cart-item-value {
            padding: 0;
            line-height: 45px;
        }
    }

    .cart-item-quantity,
    .cart-item-total,
    .cart-item-edit {
        display: block;
        float: left;
        clear: none;
    }

    .cart-item-quantity {
        width: 100px;
        clear: both;

        .form-increment {
            margin: 0;
        }
    }

    .cart-item-total {
        width: calc(100% - 180px);
    }

    .cart-item-edit {
        width: 80px;
        text-align: right;
    }

    .cart-totalsWrapper {
        background-color: transparent;
        padding: 0 0 spacing("single");
    }
}

@include breakpoint("small") {
    .cart-totals {
        width: 100%;
        float: none;
    }

    .cart-additionalCheckoutButtons {
        text-align: center;

        .FloatRight div {
            float: none;
        }
    }

    .cart-item-total {
        display: grid;
        grid-template: "prices qtys nones" auto / 100px auto min-content;
        column-gap: spacing("half");
    }

    .cart-item-figure {
        padding: spacing("quarter") 0;
        @include square(140px);
        height: auto;
    }
}

@include breakpoint("medium") {
    .beautify__cart {
        display: grid;
        grid-template-columns: 66.66% 33.33%;
        grid-auto-rows: min-content;
        margin-bottom: spacing("double");

        > ._left {
            grid-column: 1;
            margin-right: spacing("single");
        }

        > ._right {
            grid-column: 2;
            grid-row: 1 / 3;
            border-radius: $global-radius;
            // margin-left: spacing("single");
            align-self: start;
            position: sticky;
            top: spacing("double");
        }

        > ._suggests {
            grid-column: 1;
            grid-row: 2;

            .productCarousel {
                margin: 0;
            }
        }
    }

    ._suggests {
        .page-heading {
            margin-bottom: spacing("half");
        }

        .beautify__section {
            padding-top: spacing("single");
            padding-bottom: spacing("single");
        }

        .slick-next {
            right: - spacing("half");

            &:focus-visible {
                margin-right: spacing("eighth");
            }
        }

        .slick-prev { 
            left: - spacing("half");

            &:focus-visible {
                margin-left: spacing("eighth");
            }
        }

        @include breakpoint("large") {
            .slick-next {
                right: - spacing("single") * 1.5;
            }

            .slick-prev { 
                left: - spacing("single") * 1.5;
            }
        }
    }

    .cart-header-price,
    .cart-header-total,
    .cart-item-price,
    .cart-item-total {
        text-align: center;
        font-size: fontSize("small");
    }

    .cart-header {
        display: none;
    }

    .cart-item-price {
        display: none;
    }

    .cart-total {
        padding-top: spacing("half");
        padding-bottom: spacing("half");
    }
}

@include breakpoint("large") {
    .cart-item-figure {
        @include square(160px); 
        height: auto;
    }
}

.beautify__cart-couponMsg {
    font-weight: fontWeight("bold");
    @media (max-width: screenSize("medium") - 1px) {
        font-size: fontSize("large");
    }
    @include breakpoint("medium") {
        font-size: fontSize("larger");

    }
}

.cart-emptyText {
    margin-bottom: spacing("double");
}

@keyframes shadowTransparent {
    0% {
        box-shadow: 0 0 10px 0 transparent;
    }

    100% {
        box-shadow: 0 0 5px 0 transparent;
    }
}

.navUser-section #cart-preview-dropdown ._label {
    @media (max-width: (screenSize("large") - 1px)) {
        display: block;
    }

    @media (max-width: (screenSize("small") - 1px)) {
        display: none;
    }
}

#cart-preview-dropdown {
    top: spacing("double");
    bottom: spacing("double");
    position: fixed;
    left: auto;
    right: -320px;
    width: 320px;
    max-width: none;
    margin: 0;
    border: 0;
    visibility: hidden;
    transition: right 0.2s ease, 0.2s visibility 0.1s;
    display: block;
    z-index: zIndex("higher");
    border-radius: $container-border-radius;

    @include breakpoint("small") {
        right: -500px;
        width: 500px;
    }

    // requires for accessibility
    &:not(.is-open) .is-open {
        visibility: hidden;
    }

    &.is-open {
        right: spacing("single");
        visibility: visible;
        transition: right 0.2s ease;
    }

    .previewCart {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: $container-border-radius;
        border: 5px solid stencilColor("color-textLink");
        overflow: hidden;
        $square-img: 140px;

        .card {
            &:hover {
                .sale-flag-side { 
                    opacity: 1;
                }
            }
        }

        .loadingOverlay {
            border-radius: $container-border-radius;
        }

        ._header {
            flex: 0 0 auto;
            margin-top: 0;
            padding: spacing("single");
            background: $color-primary;
            color: $color-secondary;
            border-bottom: 1px solid rgba(stencilColor("color-secondary"), 0.15);

            ._heading {
                margin: 0;
                color: inherit;
                font-size: fontSize("large");
                font-weight: $header-font-weight;
                display: flex;
                justify-content: space-between;
                gap: spacing("single");

                > span,
                a {
                    padding: spacing("half") spacing("single");
                    flex: 1;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    border: 3px solid;
                    font-size: fontSize("base");
                    text-transform: uppercase;
                }

                > a:has(._label) {
                    gap: spacing("quarter");
                    align-items: center;

                    ._label {
                        flex: 1;
                    }
                }

                a {
                    color: stencilColor("color-secondary");
                    font-weight: $header-font-weight;
                    vertical-align: middle;
                    text-decoration: none;
                    border-color: stencilColor("color-secondary");
                    justify-content: space-between;

                    .icon {
                        fill: stencilColor("color-secondary");
                    }

                    &:hover,
                    &:focus {
                        color: stencilColor("color-textLink");
                        border-color: stencilColor("color-textLink");

                        .icon {
                            fill: stencilColor("color-textLink");
                            transition: unset;
                        }
                    }
                }

                @include breakpoint("small") {
                    font-size: fontSize("larger");
                }

                .icon {
                    @include square(28px);
                    fill: stencilColor("color-secondary");
                }

                .button {
                    padding: spacing("quarter") spacing("third");
                    margin: 0;
                }

                @media (max-width: (screenSize("small") - 1px)) {
                    gap: spacing("base");

                    ._label {
                        display: none;
                    }

                    a,
                    span {
                        justify-content: center;
                    }
                }
            }

            ._close {
                @include square(45px);
                padding: spacing("third") * 1.75;
                position: absolute;
                top: - spacing("base");
                right: - spacing("base");
                background-color: stencilColor("color-secondary");
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    .icon {
                        fill: stencilColor("color-textLink");
                    }
                }
            }

            .icon {
                width: 100%;
                height: 100%;
                fill: stencilColor("color-grey");
            }

            ._statusMsg {
                .alertBox {
                    background-color: transparent;
                    color: inherit;
                    padding: 0;
                    margin: spacing("single") 0 0;

                    .icon {
                        @include square(20px);
                    }
                }
            }

            @media (max-width: (screenSize("small") - 1px)) {
                padding: spacing("single") spacing("base") spacing("base");

                ._statusMsg {
                    .alertBox {
                        margin-top: spacing("base");
                    }
                }
            }
        }

        ._body {
            flex: 1;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            padding: spacing("single") spacing("single") spacing("half");
            background-color: stencilColor("color-primary");

            ._cartSuggested,
            ._recentlyViewed {
                border-top: 1px solid rgba(stencilColor("color-secondary"), 0.15);
            }

            ._cartSuggested {
                margin-top: spacing("half") * 1.5;
                margin-bottom: spacing("base");
            }

            .previewCartItem {
                border: 0;
                align-items: flex-start;

                &._flying {
                    background-color: transparent;
                }

                &._shadowPulse {
                    animation-name: shadowTransparent;
                }

                + .previewCartItem {
                    margin-top: spacing("single");
                }
            }

            .previewCartItem-image {
                background-color: stencilColor("color-white");
                border-radius: 8px;
                max-width: $square-img;
                max-height: $square-img;

                img {
                    border-radius: 10px;
                    width: 100%;
                }
            }

            .previewCartItem-content {
                padding-left: spacing("single");
                padding-top: 0;

                .definitionList-key,
                .definitionList-value,
                .previewCartItem-releaseDate,
                .price,
                .previewCartItem-price,
                .cart-item-option-title,
                .cart-item-option-description,
                .previewCartItem-name {
                    color: stencilColor("color-secondary");
                }

                .previewCartItem-name {
                    a:focus,
                    a:hover {
                        color: stencilColor("color-textLink");
                    }
                }

                ._editLink {
                    &:focus,
                    &:hover {
                        color: stencilColor("color-textLink");
                        opacity: 0.8;
                    }
                }

                .cart-item-option-description {
                    a:focus,
                    a:hover {
                        color: stencilColor("color-textLink");
                        opacity: 0.8;
                    }
                }


                .previewCartItem-remove-icon {
                    .icon {
                        fill: stencilColor("color-secondary");

                        &:hover {
                            fill: stencilColor("color-textLink");
                        }
                    }
                }
            }

            .previewCartItem-quantity {
                .form-increment {
                    border: 1px solid $input-border-color;
                    
                    .form-input {
                        @include square(40px);
                        background-color: transparent;
                        color: stencilColor("color-secondary");
                    }

                    .button {
                        @include square(40px);
                        background-color: transparent;

                        &[data-action=dec],
                        &[data-action=inc] {
                            position: relative;

                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                height: 50%;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 1px;
                                background-color: stencilColor("color-secondary");
                                right: 0;
                                z-index: 0;
                            }
         
                            svg {
                                fill: stencilColor("color-secondary");

                                &:hover {
                                    fill: stencilColor("color-textLink");
                                }
                            }
                        }

                        &[data-action=dec] {
                            &::after {
                                right: 0;
                            }
                        }
            
                        &[data-action=inc] {
                            &::after {
                                left: 0;
                            }
                        }
                    }
                }
            }

            .previewCartItem-remove {
                margin-right: - spacing("single");

                a {
                    line-height: 1;
                } 
                
                @media (max-width: (screenSize("small") - 1px)) {
                    margin-right: - spacing("quarter");
                }
            }

            ._subheading {
                margin: 0;
                padding: (spacing("base") * 2) 100px spacing("half") 0;
                font-size: fontSize("small");
                line-height: fontSize("large") * 1.25;
                color: stencilColor("color-secondary");

                @include breakpoint("small") {
                    font-size: fontSize("large");
                }
            }

            .productCarousel {
                overflow: visible;
                margin: 0 (- spacing("half"));

                .slick-list {
                    width: 100%;
                    flex-basis: 100%;
                    overflow: hidden;
                }

                .slick-prev {
                    top: - spacing("single");
                    left: auto;
                    right: spacing("base") * 4;

                    &::before {
                        background-image: $slick-arrow-prev-color-secondary;
                    }

                    &:hover::before {
                        background-image: $slick-arrow-prev-hover;
                    }
                }

                .slick-next {
                    top: - spacing("single");
                    left: auto;
                    right: spacing("half");

                    &::before {
                        background-image: $slick-arrow-next-color-secondary;
                    }

                    &:hover::before {
                        background-image: $slick-arrow-next-hover;
                    }
                }

                .slick-next,
                .slick-prev {
                    &::after {
                        border-color: stencilColor("color-secondary");
                    }

                    &:hover::after {
                        border-color: stencilColor("color-textLink");
                    }
                }

                .card {
                    &._border {
                        background-color: stencilColor("color-primary");
                    }
                }

                @media (max-width: (screenSize("small") - 1px)) {
                    .slick-next {
                        right: spacing("eighth");
                    }

                    .slick-prev {
                        right: spacing("single") * 2.25;
                    }
                }
            }

            .productCarousel-slide {
                .card {
                    display: grid;
                    grid-template-columns: 33.3333% 66.6666%;
                    grid-template-rows: min-content auto;
                    border: 0;

                    &._border {
                        box-shadow: none;
                        margin: 0;
                        width: 100%;
                    }

                    &._hideBtn {
                        padding-bottom: spacing("half");
                        padding-top: spacing("half");
                    }

                    .card-wrapper-figure {
                        max-width: $square-img;
                        max-height: $square-img;
                    }

                    &:has(.button--outstock) {
                        .button--outstock {
                            max-width: 100%;
                            margin-top: spacing("half");
                        }

                        ._qtyAdd {
                            margin-bottom: spacing("half");
                            
                            .form-field {
                                margin: 0;
                            }
                        }

                        .card-body {
                            grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(6rem, max-content);
                        }
                    }
                }

                .card-figure {
                    grid-column: 1;
                    grid-row: 1 / 3;
                    align-self: start;
                    padding: 0;
                    border-radius: 10px;
                    max-width: $square-img;
                    max-height: 100%;

                    .sale-flag-side {
                        display: none;
                    }
                }

                .card-body {
                    padding-top: 0;
                    grid-column: 2;
                    grid-row: 1;
                    margin-left: spacing("base");
                    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(4.625rem, max-content);

                    &:has(.rating--small) {
                        grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(2.375rem, max-content);
                    }

                    .card-title {
                        grid-area: 2;

                        a {
                            color: stencilColor("color-secondary");

                            &:hover {
                                color: stencilColor("color-textLink");
                            }
                        }
                    }

                    .card-text,
                    .price {
                        color: stencilColor("color-secondary"); 
                    }

                    .card-text--brand {
                        grid-area: 3;
                    }

                    .card-text--colorswatches {
                        grid-area: 4;
                    }

                    .card-text--price {
                        grid-area: 5;
                    }

                    .card-text--rating {
                        grid-area: 6;
                    }

                    @media (max-width: (screenSize("medium") - 1px)) {
                        &:has(.rating--small),
                        &:not(.rating--small) {
                            grid-template-rows: minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content);
                        }
                    }

                    .productSwatches-swatches {
                        .productSwatches-swatches-item {
                            color: stencilColor("color-secondary");

                            &:focus,
                            &:hover {
                                color: stencilColor("color-textLink");
                            }
                        }
                    }
                }

                .card-badges {
                    display: block;
                    grid-area: 1;
                }

                .card-footer {
                    grid-column: 2;
                    grid-row: 2;
                    left: 0;
                    background-color: stencilColor("color-primary");
                    margin-left: spacing("half");

                    .form-field {
                        border-radius: 10px;
                    }

                    ._qtyAdd {
                        gap: spacing("half");
                    }
                    
                    .form-input--incrementTotal {
                        width: 38px;
                    }

                    @media (max-width: (screenSize("small") - 1px)) {
                        ._qtyAdd {
                            gap: spacing("quarter");
                        }
                    }
                }
            }

            ._recentlyViewed {
                ._subheading {
                    padding-top: spacing("base") * 2;
                }
            }

            .previewCart-emptyBody { 
                color: stencilColor("color-secondary");
            }

            @media (max-width: (screenSize("medium") - 1px)) {
                .productCarousel {
                    margin: 0 (- (spacing("third") * 1.25));
                }
            }

            @media (max-width: (screenSize("small") - 1px)) {
                padding-left: spacing("base");
                padding-right: spacing("base");

                .previewCartItem-content {
                    padding-left: spacing("base");
                    padding-right: 0;
                }

                .productCarousel {
                    margin: 0 (- (spacing("third") * 0.5));
                }
            }
        }

        ._footer {
            flex: 0 0 auto;
            margin-bottom: 0;
            background-color: stencilColor("color-primary");

            .previewCartAction {
                border-color: rgba(stencilColor("color-secondary"), 0.15);

                .cart-total-label,
                .cart-total-value {
                    color: stencilColor("color-secondary");
                }

                .button {
                    &:hover {
                        background-color: stencilColor("color-primaryLight");
                    }
                }

                @media (max-width: (screenSize("small") - 1px)) {
                    padding: spacing("base") spacing("base") spacing("single");
                    display: flex;
                    flex-direction: column;

                    [data-cart-totals] {
                        width: 100%;
                    }

                    .previewCartAction-totals {
                        padding-right: 0;
                        margin-bottom: spacing("base");

                        .cart-total {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }

                    .previewCartAction-checkout {
                        width: 100%;
                    }
                }
            }

        }

        &:has(._footer) {
            ._body {
                background-image: unset;
            }
        }
    }

    @media (max-width: (screenSize("small") - 1px)) {
        top: 2%;
        
        &.is-open {
            right: 5%;
            width: 90%;
            height: 96%;
        }
    }
}


.previewCart-overlay {
    display: none;

    .has-previewCartOpened & {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(color("blacks"), 0.7);
        z-index: zIndex("higher");
    }
}

div.previewCart-additionalCheckoutButtons {
    margin: -(spacing("half")) 0 0;
    padding: 0 spacing("single") spacing("half") + spacing("quarter");

    ._heading {
        color: stencilColor("color-secondary");
    }
    @media (max-width: 550px) {
        padding: 0 spacing("base") spacing("half") + spacing("quarter");
    }
}

.previewCartAction {
    display: flex;
    align-items: center;
}

.previewCartAction-checkout {
    width: auto;
    flex: 1 1 auto;
    padding: 0;

    .button {
        padding-left: spacing("quarter");
        padding-right: spacing("quarter");
    }
}

.previewCartAction-totals {
    padding-right: spacing("single");

    .cart-total {
        padding: 0;
        display: block;
        line-height: 1.15;
        border-bottom: 0;
    }

    .cart-total-label,
    .cart-total-value {
        float: none;
        display: block;
        padding: 0;
        text-align: center;
    }

    .cart-total-label {
        font-size: fontSize("base");
        text-transform: uppercase;
        position: relative;

        &--dots {
            display: none;
            @media (max-width: (screenSize("small") - 1px)) {
                display: inline;
            }
        }
    
    }

    .cart-total-value {
        font-size: fontSize("larger");
        font-weight: fontWeight("bold");
        color: stencilColor("color-price");
        @media (max-width: (screenSize("small") - 1px)) {
            
            padding-left: calc(#{spacing("base")} * 0.5);
        }
    }
}

.previewCartList {
    display: block;
}

.previewCartItem {
    display: flex;
    align-items: center;

    &._flying {
        background-color: container("fill");
    }

    &._shadowPulse {
        animation-name: shadowPulse;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }
}

.previewCartItem-image {
    width: 33.3333%;
    flex: 0 0 auto;
}

.previewCartItem-content {
    width: 66.6667%;
    flex: 0 0 auto;
}

.previewCartItem-name {
    font-size: fontSize("base");
    margin-bottom: spacing("quarter");

    a {
        color: inherit;

        &:hover,
        &:focus {
            color: $color-textBase-hover;
        }

        &:active {
            color: $color-textBase-active;
        }
    }
}

.previewCartItem-brand {
    font-size: fontSize("smaller");
    color: inherit;
}

.previewCartItem-price {
    display: block;
    font-size: fontSize("base");
    color: inherit;
    margin-bottom: spacing("half");
}
