<nav>
    {{#if brand.faceted_search_enabled}}
        {{> components/faceted-search/index
            brand
            collapsed=collapsed
            layout=theme_settings.categorypage_layout
            currency_token=settings.money.currency_token
            show_price_slider=(if theme_settings.show_shop_by_price '==' 'slider')
        }}
    {{else}}
        {{#if shop_by_brand}}
            {{#if theme_settings.sidebar_shop_by_brand '>' 9}}
                {{> components/supermarket/sidebar/brands}}
            {{/if}}
        {{/if}}
    {{/if}}
</nav>
