<article class="card card--placeholder {{#if alternate}}card--alternate{{/if}} {{#if theme_settings.card_show_border}}_border{{/if}} {{#unless theme_settings.card_show_button}}_hideBtn{{/unless}}">
    <figure class="card-figure">
        <div class="card-img-container">
            <img class="card-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="loading" {{getVar 'productCardImageSizeAttrs'}} />
        </div>
        <figcaption class="card-figcaption">
            <div class="card-figcaption-body">
                <div class="card-buttons card-buttons--alt">
                    {{#unless hide_product_quick_view}}
                        {{#if theme_settings.show_product_quick_view}}
                            <a class="button card-figcaption-button quickview" tabindex="-1"><svg class="icon"><use xlink:href="#icon-bs-search"></use></svg>{{lang 'products.quick_view'}}</a>
                        {{/if}}
                    {{/unless}}
                    {{#if show_compare}}
                        <button type="button" class="button card-figcaption-button _compare2" disabled><svg class="icon"><use xlink:href="#icon-compare"></use></svg>{{lang 'products.compare'}}</button>
                    {{/if}}
                </div>
            </div>
        </figcaption>
    </figure>
    <div class="card-body">
        <h3 class="card-title"></h3>

        <div class="card-text card-text--brand" data-test-info-type="brandName"></div>

        {{#if theme_settings.card_show_swatches}}
            <div class="card-text card-text--colorswatches"></div>
        {{/if}}

        <div class="card-text card-text--price" data-test-info-type="price"></div>

        <div class="card-text card-text--summary" data-test-info-type="summary"></div>
    </div>
    <div class="card-footer{{#if theme_settings.card_show_button}} _show{{/if}}">
        <div class="card-buttons">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{#if show_cart_action}}
                        <div class="_qtyAdd">
                            <a class="button button--primary card-figcaption-button">{{lang 'products.add_to_cart'}}</a>
                        </div>
                    {{/if}}
                {{/or}}

                {{#if show_compare}}
                    <button type="button" class="button card-figcaption-button _compare" disabled><svg class="icon"><use xlink:href="#icon-compare"></use></svg>{{lang 'products.compare'}}</button>
                {{/if}}
            </div>
    </div>

    {{#if show_bulk_order}}
    <div class="card-bulkOrder">
        <div class="card-bulkOrder-fieldRow card-bulkOrder-qtyInCart">
            <span class="card-bulkOrder-label">{{lang 'bulk_order.qty_in_cart'}}: </span>
            <span class="card-bulkOrder-value">0</span>
        </div>
        <div class="card-bulkOrder-fieldRow card-bulkOrder-qty">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                <div class="card-bulkOrder-label">{{lang 'bulk_order.qty'}}: </div>
                <div class="card-bulkOrder-value">
                    <div class="form-increment" data-quantity-change>
                        <button class="button button--icon" data-action="dec" type="button" disabled>
                            <i class="icon" aria-hidden="true">
                                <svg>
                                    <use xlink:href="#icon-minus"/>
                                </svg>
                            </i>
                        </button>
                        <input class="form-input form-input--incrementTotal"
                            name=""
                            type="tel"
                            value="0"
                            data-quantity-min="0"
                            data-quantity-max="0"
                            min="0"
                            pattern="[0-9]*"
                            aria-live="polite">
                        <button class="button button--icon" data-action="inc" type="button" disabled>
                            <i class="icon" aria-hidden="true">
                                <svg>
                                    <use xlink:href="#icon-add"/>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
            {{/or}}
        </div>
        <div class="card-bulkOrder-fieldRow card-bulkOrder-price">
            <div class="card-bulkOrder-label">{{lang 'bulk_order.price'}}: </div>
            <div class="card-bulkOrder-value">
                <div class="card-text card-text--price" data-test-info-type="price">
                </div>
            </div>
        </div>
        <div class="card-bulkOrder-fieldRow card-bulkOrder-subtotal">
                <div class="card-bulkOrder-label">{{lang 'bulk_order.subtotal'}}: </div>
                <div class="card-bulkOrder-value">
                    <div class="card-text card-text--price">
                        <span class="price price--main"></span>
                    </div>
                </div>
        </div>
        <div class="card-bulkOrder-action">
            {{#if show_cart_action}}
                <a class="button button--small button--primary card-figcaption-button">{{lang 'products.add_to_cart'}}</a>
            {{/if}}
        </div>
    </div>
    {{/if}}
</article>
