<section class="productCarousel productCarousel--responsiveCol"
    {{#if settings.data_tag_enabled}} data-list-name="{{list}}"{{/if}}
    data-slick='{
        "dots": true,
        "arrows": false,
        "infinite": true,
        "mobileFirst": true,
        "slidesToShow": {{ theme_settings.product_col_sm }},
        "slidesToScroll": {{ theme_settings.product_col_sm }},
        "touchThreshold": 10,
        "autoplay": false,
        "autoplaySpeed": 3000,
        "responsive": [
            {
                "breakpoint": 800,
                "settings": {
                    "dots": false,
                    "arrows": true,
                    "slidesToShow": {{ theme_settings.product_col }},
                    "slidesToScroll": {{ theme_settings.product_col }}
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToShow": {{ theme_settings.product_col_md }},
                    "slidesToScroll": {{ theme_settings.product_col_md }}
                }
            }
        ]
    }'
>   
    {{#if is_placeholder}}
        {{#for 1 theme_settings.product_col}}
        <div class="productCarousel-slide">
            {{> components/products/card-placeholder settings=../settings show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
            </div>
        {{/for}}
    {{else}}
        {{#each products}}
        <div class="productCarousel-slide" data-product-id="{{id}}">
            {{> components/products/card settings=../settings show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </div>
        {{/each}}
    {{/if}}
</section>
